body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #11005D;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
}

.container-footer {
  display: flex;
  align-items: center;
  height: 130px;
  width: 100%;
  background-color: #11005D;
  margin: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  box-shadow: 0px -14px 152.6px 0px #FFFFFF40;
  flex-direction: row;
}

.container-header{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
}

.lumiare-logo {
  width: 134px;
  height: 34.14px;
  position: relative;
  top: -30px;
  left: 20px;
  scale: 0.9;
}

.lumiare-base {
  height: auto;
  display: block;
}

.ia-logo {
  width: 25.63px;
  height: 27.08px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(13%, -40%);
}

.createdby{
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 164%;
  letter-spacing: 2%;
  vertical-align: middle;
  color: #FFFFFF;;
  top: -5px;
  position: relative;
}

.maiven-image{
  width: 68.92px;
  height: 30.52px;
  top: -40px;
  left: 45px;
  position: relative;
  margin-left: 10px;
}

.copyright{
  position: relative;
  top: 45px;
  left: -110px;
  opacity: 0.8;
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 12px;
  line-height: 164%;
  letter-spacing: 2%;
  vertical-align: middle;
  color: #FFFFFF;
  white-space: nowrap;
}

.info-footer{
  position: relative;
  top: -30px;
  left: 740px;
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 164%;
  letter-spacing: 2%;
  vertical-align: middle;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.terms{
  position: relative;
  opacity: 0.8;
  top: 45px;
  left: 600px;
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 12px;
  line-height: 164%;
  letter-spacing: 2%;
  vertical-align: middle;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.lumiare-header{
  width: 77px;
  height: 32px;
  position: relative;
  top: 23px;
  left: 20px;
}

.ia-header{
  width: 14.2px;
  height: 15px;
  position: relative;
  top: 16.5px;
  left: -16.5px;
}

.info-header{
  font-family: "Inter", sans-serif;
  position: relative;
  top: 0px;
  left: 1000px;
  font-weight: 300;
  font-style: light;
  font-size: 16px;
  line-height: 128%;
  letter-spacing: 0%;
  color: #F5F5F8;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding: 10px;
}

.info-header .signin{
  background-color: #F5F5F8;
  color: #11005D;
  border-radius: 45px;
  padding: 10px 22px;
  flex-flow: horizontal;
  right: 15px;
  position: relative;
}

.container-waitlist{
  display: flex;
  align-items: center;
  flex: 1;
}

.rocket-image{
width: 84px;
height: 180px;
opacity: 1;
top: 40%;
left: 7%;
scale: 1.8;
position: absolute;
z-index: 5;
}

/* .ellipse{
  width: 1742px;       
  height: 1326px;
  position: absolute;
  background-color: #3704C1;
  border-top-left-radius: 800px 500px;
  border-top-right-radius: 800px 500px;
  filter: blur(67.2px);
  display: flex;
  align-items: center;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ellipse .e1{
    width: 1590px;       
  height: 1210px;
  position: absolute;
  background-color: #11005D;
  border-top-left-radius: 750px 500px;
  border-top-right-radius: 750px 500px;
  filter: blur(67.2px);
  display: flex;
  align-items: center;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
} */

.ellipse {
  position: absolute;
  top: 1000px; 
  left: 50%;
  transform: translateX(-50%);
  width: 1000px; 
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: visible;
  bottom: 0;
}



.ellipse > div {
  position: absolute;
  bottom: 0; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.e1 {
  width: 2000px;
  height: 1440px; 
  background-color: #11005D;
  z-index: 4;
  border-top-left-radius: 1000px 650px;
  border-top-right-radius: 1000px 650px;
  top: -730px;
  position: relative;
  filter:blur(40px)
}

.e2 {
  width: 2000px;
  height: 1440px;
  background-color: #3704C1;
  z-index: 3;
  border-top-left-radius: 1000px 650px;
  border-top-right-radius: 1000px 650px;
  position: relative;
  top: -750px;
filter: blur(36px);
}

.e3 {
  width: 2000px;
  height: 1440px;
  background-color: #5718FF;
  z-index: 2;
  border-top-left-radius: 1000px 650px;
  border-top-right-radius: 1000px 650px;
  position: relative;
  top: -800px;
  filter: blur(30px);
}

.e4 {
  width: 2000px;
  height: 1440px;
  background-color: #F1F1FF;
  z-index: 1;
  border-top-left-radius: 1000px 650px;
  border-top-right-radius: 1000px 650px;
  filter: blur(20px);
}

.title{
  top: -2%;
  z-index: 6;
  position:absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  transform-origin: center;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 68px;
  line-height: 128%;
  letter-spacing: 0%;
  white-space: nowrap;
  color: #F5F5F8;
  text-align: center;
}

.quote{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 148%;
  letter-spacing: 0%;
  align-content: center;
  color: #F5F5F8;
}

.container-login{
  display: flex;
  align-items: center;
  width: 282px;
  height: 265.2px;
  position: absolute;
  background-color: #FFFFFF;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 24px;
  flex-direction: column;
} 

.quote2{
  position: relative;
  top: 3%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 148%;
  letter-spacing: 0%;
  text-align: center;
  color: #3704C1;
}

.input{
  position: relative;
  height: 15px;
  width: 234px;
  border-radius: 8px;
  border-width: 0.4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  gap: 10px;
  background-color: #FEFEFE;
  border-color: #3306AC;
  top: 5%;
}

.btn-login{
  width: 260px;
  height: 35px;
  position: relative;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  padding-left: 28px;
  gap: 10px;
  background-color: #3704C1; 
  top: 20%;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -1.9%;
  color: #FEFEFE;
  text-align: center;
}

.info-footer a {
  color: white;       
  text-decoration: none;    
}

.info-footer a:visited {
  color: white;           
}

.info-footer a:hover {
  text-decoration: underline; 
}

.info-footer a:active {
  color: white;               
}
